<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Nlog.Elmah"/>
  </extensions>

  <targets>
    <target xsi:type="Elmah"
            name="elmah"
            layout="${longdate} ${uppercase:${level}} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="elmah" />
  </rules>

</nlog>
